body {
    background-color: #bebebe;
 }
.top-part {
    border: 1px solid #696969;
    background-color :#696969;
  }
.head {
    font-size:20px;
  }
h1 {
    text-align:center;
  }
#only {
    position:relative;
    bottom : -60px;
  }
.about {
    background-color:#ffe4e1;
  }
