body {
    background-color:black;
 }
.top-part {
    border: 1px solid #696969;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT49cKMP88CH92r-qE4PaFYhw9W9v9qkBD1j-PyvEatKGqeHn9ekg');
    background-size: cover;
  }
.head {
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
  }
h1 {
    text-align:center;
    color: #ffe4e1;
  }
#only {
    position:relative;
    bottom : -150px;
    right: -767px;
    color: #ffe4e1;
    font-weight: 600;
  }
.first-image img {
    border-radius: 30%;
     
  }
.all {
    color:#ffe4e1;
}
.about {
    border: 1px dotted #ffe4e1;
    width: 35%;
  float: left;
  position:relative;
  right: -200px  
}
h2 {
    font-size:40px;
    font-weight: 400;
    text-decoration-line: underline;
  }
p,ul,ol {
    font-family: 'Times New Roman', Times, serif;
  }
.project {
    border: 1px dotted #ffe4e1;
    width: 40%;
    float: right;
    position:relative;
    right: 197px ;
    bottom: -580px;
  }
h5 {
    font-size: 15px;
  }
em{
    font-weight: 700;
    text-decoration: underline;
}